body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 90%);
}
#myh1{
    font-size: 4ren;
    font-family: Arial, sans-serif;
    color:brown;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: blueviolet;
    text-shadow: 2px 2px 2px;
    margin-bottom: 25px;
}
#control button{
    font-size: 1.5ren;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:rgb(95, 14, 14);
}
#startbtn{
    background-color: rgb(51, 255, 0);
    
}
#stopbtn{
    background-color: rgb(255, 0, 0);
}
#resetbtn{
    background-color: rgb(0, 166, 255);
}
