#SUBSCRIBE{
  font-size: 100px;
}
#mycheckbox{
    width: 50px;
    height: 50px;
    -webkit-appearance: none; /*For older versions of some browsers*/
    -moz-appearance: none; /* For Firefox 6 */
    border: 2px solid #3498db; /* Border color */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor on hover */
}

#mycheckbox:checked {
  background-color: #11ff00; /* Background color when checked */
  border-color: #5bdb34; /* Border color when checked */
}
#submit{
  height: 30px;
  width: 60px;
}